@use "base/variables" as v;
@use "base/mixins" as m;

/* Appointment */
.appointment {
  background-image: url(../img/appointment_bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 5rem 0;
  text-align: center;

  &__heading {
    color: v.$white;

    @include m.heading;

    & {
      font-size: 6rem;
    }
  }

  &__text {
    max-width: 60rem;
    margin: 0 auto;
    color: v.$white;
    line-height: 2;
  }

  &__link {
    @include m.button(v.$primary, v.$white);

    & {
      padding: 2rem 10rem;
    }
  }
}
