@use "base/variables" as v;
@use "base/mixins" as m;

/* Products */
.products {
  &__heading {
    margin-bottom: 5rem;

    @include m.italic-heading;
  }

  &__grid {
    @include m.grid(1, 2rem);

    @include m.tablet {
      @include m.grid(2, 2rem);
    }

    @include m.desktop {
      @include m.grid(4, 2rem);
    }
  }
}

.product {
  &__content {
    background-color: v.$white;
    padding: 2rem;
  }

  &__mask {
    overflow: hidden;
  }

  &__image {
    width: 100%;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    color: v.$secondary;

    @include m.heading;

    & {
      font-size: 2.4rem;
    }
  }

  &__description {
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 1.8;
  }

  &__price {
    text-align: center;
    color: v.$grey;
    font-size: 2.8rem;
    margin: 0;
  }
}
